@model SpacePirateInventory.Models.Tables.Article
@{
    ViewBag.Title = "Add";
}

@if (ViewBag.displayMenu == "Yes")
{
    @Html.ActionLink("Back to Article List", "Articles", "Admin")
    <h2 class="mt-5">Add Article</h2>


    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6">

            @using (Html.BeginForm("Add", "User", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormAddArticle" }))
            {
                @Html.ValidationSummary()
                <div id="ArticleForm">
                    <div class="form-group">
                        <label>Article Title</label>
                        @Html.TextBoxFor(i => i.ArticleTitle, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Article Body</label>
                        @Html.TextAreaFor(i => i.ArticleContent, new { @class = "form-control" })
                    </div>
                    <button class="btn btn-primary">Save</button>
                </div>
                @*<div id="Articleboxes" class="col-xs-12 col-sm-12 col-md-8">
                        <form id="ArticleForm">
                            <table>

                                <tbody>
                                    <tr>
                                        <td>Article Title</td>
                                         @Html.TextBoxFor(i => i.ArticleTitle, new { @class = "form-control" })
                                    </tr>

                                    <tr>
                                        <td>Article Body</td>
                                        @Html.TextBoxFor(i => i.ArticleContent, new { @class = "form-control" })
                                    </tr>



                                </tbody>

                            </table>
                            <input class="submit" type="submit" value="Send" />
                        </form>

                    </div>*@
            }
        </div>
    </div>

    @section scripts{
        <script>
            $(document).ready(function () {
                $("#ArticleForm").submit(function (e) {
                    rules: {
                        'ArticleTitle': {
                            required: true
                        },
                    'ArticleContent': {
                        required: true,

                    }

                        }
                    });
                });

        </script>
    }

}
@if (ViewBag.displayMenu == "No")
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) . Please login to view this page! </h2>
}

@if (ViewBag.DisplayMenu == "Thanks")
{
    <h2><strong>Article Added</strong></h2>
}
